<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="proto_bot">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import proto_bot urdf file -->
    <xacro:include filename="$(find bot_desc)/urdf/bot.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="proto_bot.ros2_control.xacro" />


    <xacro:proto_bot_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
